        <footer>
            <small>
                Copyright © 2023 My Blog Page. All Rights Reserved.
            </small>
        </footer>
        <script src="/index.js"></script>
    </body>
</html>
